.new {
    padding: 0 5%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new h1 {
    text-align: center;
    font-size: 46px;
}

.new-arrivals {
    display: flex;
    gap: 1rem;

    overflow: hidden;
}

.new-arrivals .new-item {
    width: 300px;
}

.show-all {
    display: grid;
    gap: 1rem;
}

.new-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}

.new-content a {
    text-decoration: none;
    color: #000000;
}

.view-button {
    width: 150px;
    height: 45px;
    border: 1px solid #8c8c8c;
    border-radius: 62px;
    background: transparent;
    cursor: pointer;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1150px) {
    .show-all {
        grid-template-columns: repeat(4, 1fr); /* 3 columns for big screens */
    }
}

@media screen and (max-width: 1150px) {
    .show-all {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for medium screens */
    }
}

@media screen and (max-width: 900px) {
    .show-all {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 668px) {
    .show-all {
        grid-template-columns: repeat(1, 1fr);
    }
}