.new {
    padding: 0 5%;
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.new h1 {
    text-align: center;
    font-size: 46px;
}

.new-arrivals {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    gap: 1rem;

    overflow: hidden;
}

.show-all {
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    gap: 1rem;

    overflow: hidden;
    flex-wrap: wrap;
}

.new-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-bottom: 3rem;
}

.new-content a {
    text-decoration: none;
    color: #000;
}

.view-button {
    width: 150px;
    height: 45px;
    border: 1px solid #8c8c8c;
    border-radius: 62px;
    background: transparent;
}

.bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}