@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Open+Sans&display=swap');

.discount {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    background: #000000;
    color: #FFFFFF;
    height: 38px;

    position: relative;
}

.close {
    position: absolute;
    top: 5px;
    right: 5%;
    font-size: 25px;
    cursor: pointer;
}

.link {
    color: #FFFFFF;
    font-weight: bold;
}

@media screen and (max-width: 490px) {
    .discount {
        font-size: 11px;
    }
}

@media screen and (max-width: 480px) {
    .discount {
        font-size: 8px;
    }
}