.review {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 1.5rem;
    margin-right: 1rem;
    flex: 1;
    margin-bottom: 2rem;
    align-items: stretch;
}

.review i {
    color: #01AB31;
    margin-left: 8px;
}

.rec {
    display: flex;
    justify-content: center;
}

.rec-carousel {
    position: relative;
    margin-left: -1rem;
}

.rec-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

.rec-arrow-left {
    background: transparent;
    position: absolute;
    top: -5.4rem;
    right: 7rem;
}

.rec-arrow-right {
    position: absolute;
    top: -5.4rem;
    right: 1.5rem;
}