.review {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #aaaaaa;
    border-radius: 20px;
    padding: 1.5rem;
    margin-right: 1rem;
    flex: 1;
    margin-bottom: 2rem;
    height: 100%;
}

.review i {
    color: #01AB31;
    margin-left: 8px;
}