.hero {
    background: #F0F0F0;
    padding: 3rem 5%;
    padding-bottom: 0;

    display: flex;
    justify-content: space-between;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.hero-content h1 {
    font-size: 64px;
    width: 600px;
    line-height: 54px;
}

.hero-content p {
    opacity: 0.6;
    width: 85%;
}

.button {
    text-decoration: none;
    text-align: center;
    background: #000000;
    color: #FFFFFF;
    padding: 0.8rem 3.375rem;
    width: 70px;
    border-radius: 62px;
}

.hero-img img {
    width: 410px;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.numbers {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    width: 95%;
}

.numbers-item h2{
    font-size: 40px;
}

@media screen and (max-width: 1100px) {
    .hero {
        flex-direction: column;
        gap: 1rem;
    }

    .hero-content p {
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    .hero-content h1 {
        font-size: 36px;
        width: 300px;
    }
    .hero-content p {
        font-size: 14px;
        width: 100%;
    }

    .button {
        padding: 0.8rem 0;
        width: 100%;
    }

    .numbers {
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
    }

    .numbers-item {
        margin-inline: auto;
    }
    
    .numbers-item h2{
        font-size: 24px;
    }

    .numbers-item p {
        font-size: 10px;
    }
}
