.arrivals {
    padding: 0 5%;
}

.main {
    display: flex;
    gap: 1rem;
}

.items {
    flex: 4;
}

.items a {
    text-decoration: none;
    color: #000;
}

.filters {
    flex: 1;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border: 1px solid #00000050;
    border-radius: 20px;
    height: fit-content;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #00000050;
}

.types {
    display: flex;
    flex-direction: column;
    gap: 5px;
    opacity: 0.6;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #00000050;
}

.type-checkbox {
    display: flex;
    justify-content: space-between;
}

.spinner-price {
    display: flex;
    justify-content: space-between;
}

.price-choice {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #00000050;
}

.color-choices {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 1.5em;
    border-bottom: 1px solid #00000050;
}

.size-choices {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}

.size-choice {
    background: #F0F0F0;
    padding: 12px;
    border-radius: 62px;
    cursor: pointer;
}

.size-choice-c {
    background: #000000;
    color: #fff;
}

.size-choices {
    padding-bottom: 1.5em;
    border-bottom: 1px solid #00000050;
}

.dress-choices {
    padding-bottom: 1.5em;
}

.apply-filter {
    background: #000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 62px;
    padding: 0.8rem;
    cursor: pointer;
}

.page {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.alt-filters {
    display: flex;
    justify-content: space-between;
}

.alt-right {
    display: flex;
    align-items: center;
    gap: 1em;
}

.alt-right p {
    opacity: 0.6;
}

.alt-right i {
    background: #d9d9d9;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.filter i {
    cursor: pointer;
}

.price-choice input {
    width: 100%;
}

.filter i.show-icon {
    display: none;
}

@media screen and (max-width: 800px) {
    .filters {
        position: absolute;
        background: #fff;
        inset: 0;
        top: 4%;
        z-index: 1000000;
        transform: translateY(-1000px);
        transition: all 0.6s;
    }

    .show-filter {
        transform: translateY(0);
    }

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 99999;
    }
    
   .page.show-filter-active {
    overflow: hidden;
   }

   .filter i.show-icon {
    display: none;
   }

   .alt-filters {
    font-size: 13px;
   }
}