.brand {
    display: flex;
    gap: 1rem;
    height: 122px;
    justify-content: space-between;
    align-items: center;
    padding: 1.34rem 5%;
    background: #000000;
    flex-wrap: wrap;
}

.brand img {
    height: 33px;
    margin-inline: auto;
}

@media screen and (max-width: 850px) {
    .brand {
     align-items: center;
    }

    .brand img {
        height: 23px;
    }
 }