.new-item {
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-item img {
    border: 1px solid #0000002d;
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    /* filter: drop-shadow(5px 5px 5px #00000025); */
}

.new-item > p {
    font-weight: bold;
    font-size: 20px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rate > p {
    font-size: 14px;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price {
    display: flex;
    gap: 1rem;
}

.original {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #FF0000;
    opacity: 0.6;
}

.discount-price {
    color: #FF3333;
    background: #fdbdbd;
    padding: 3px 5px;
    border-radius: 62px;
}