.new-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.new-item > p {
    font-weight: bold;
    font-size: 20px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.rate > p {
    font-size: 14px;
}

.star-rating {
    display: flex;
    align-items: center;
    gap: 5px;
}

.price {
    display: flex;
    gap: 1rem;
}

.original {
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    opacity: 0.6;
}

.discount-price {
    color: #FF3333;
    background: #fdbdbd;
    padding: 3px 5px;
    border-radius: 62px;
}