.navbar {
    padding: 1rem 5%;
    position: relative;
}

.nav-content {
    display: flex;
    justify-content: space-between;
}

.nav-left {
    flex: 1;
    display: flex;
    gap: 1.31rem;
}

.nav-left h2 {
    font-size: 2rem;
    font-weight: 900;
}

.nav-left > a {
    text-decoration: none;
    color: #000;
}

#nav > a:hover {
    color: #00000093;
}

.fa-chevron-down {
    margin-left: 10px;
}

.fa-chevron-up {
    margin-left: 10px;
}

.sub-menu {
    position: absolute;
    top: 150%;
    left: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 1em 0;
    border-radius: 8px;
    background: #fff;
    box-shadow: -3px -3px 5px 5px rgba(169, 169, 169, 0.1);
}

.sub-menu a {
    text-decoration: none;
    color: #000;
    padding: 0.2rem 1rem;
}

.sub-menu a:hover {
    background: #00000022;
}

.nav-links, .show {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.nav-links > a, .show > a {
    text-decoration: none;
    color: #000000;
}

.close-menu {
    font-size: 32px;
    display: none;
}

.nav-right {
    flex: 1;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.seach-bar, .seach-bar_mobile {
    position: relative;
    flex: 1;
}

.seach-bar input, .seach-bar_mobile input {
    border-radius: 62px;
    border: none;

    background: #F0F0F0;
    padding: 12px 16px;
    padding-left: 40px;
    width: 100%;
}

.seach-bar i {
    position: absolute;
    top: 13px;
    left: 14px;
    color: #8d8383;
}

.nav-right .icons {
    display: flex;
    gap: 1rem;
    font-size: 1.2em;
}

.icons i {
    cursor: pointer;
}

.icons a {
    color: #000;
    position: relative;
}

.icons #cart:after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff6464;
    border-radius: 50%;
    right: -5px;
    top: 0px;
}

.hamburger {
    display: none;
}

.popup {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 90%;
    background: #fff;
    box-shadow: 3px 4px 4px rgba(174, 174, 174, 0.5);
    padding: 1em;
    margin: 0 5%;
    z-index: 100000;
}

.results_items {
    display: grid;
    gap: 1rem;
}

.results_items a {
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 1150px) {
    .results_items {
        grid-template-columns: repeat(4, 1fr); /* 3 columns for big screens */
    }
}

@media screen and (max-width: 1150px) {
    .results_items {
        grid-template-columns: repeat(3, 1fr); /* 2 columns for medium screens */
    }
}

@media screen and (max-width: 900px) {
    .results_items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 668px) {
    .results_items {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 1100px) {
    .nav-left {
        position: relative;
    }

    .nav-right {
        flex: 2;
    }

    .hamburger {
        display: flex;
        align-items: center;
        font-size: 30px;
    }

    .nav-links {
        display: none;
        height: 0;
        transition: all 0.5s ease;
    }

    .show {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        position: absolute;
        top: 3.8rem;
        left: 0;
        background: #FFFFFF;
        flex-direction: column;
        width: 200px;
        height: 200px;
        border-radius: 4px;
        box-shadow: 2px 4px 4px rgba(174, 174, 174, 0.5);
        z-index: 1000;
    }

    .hero {
        flex-direction: column;
    }

    .sub-menu {
        top: 30%;
        left: 60%;
        width: max-content;
    }
}

@media screen and (max-width: 750px) {
    .nav-right {
        gap: 1em;
    }

    .seach-bar {
        position: static;
        flex: 0;
        justify-content: center;
        align-items: center;
    }

    .seach-bar input {
       display: none;
    }

    /* .seach-bar i {
        position: relative;
        inset: 0;
        color: #000;
        cursor: pointer;
    } */

    .seach-bar_mobile {
        position: absolute;
        top: 0;
        left: 0;
        height: 70px;
        width: 90%;
        margin: 0 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        z-index: 9999999;
    }

    .seach-bar i {
        position: relative;
        top: 0;
        margin-right: 0.5em;
        color: #000;
        cursor: pointer;
    }


    .seach-bar_mobile input {
        display: block;
        padding-left: 1.5em;
    }

    .seach-bar_mobile i {
        position: absolute;
        right: 1em;
        cursor: pointer;
        font-size: 20px;
    }

    .seach-bar_mobile button {
        border: none;
        font-size: 18px;
        cursor: pointer;
        margin-right: 1em;
        background: transparent;
        color: #0000007e;
    }
}