.carousel {
    padding: 2rem 5%;
    margin-right: -2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.carousel h1 {
    font-size: 48px;
}

@media screen and (max-width: 880px) {
    .carousel h1 {
        font-size: 32px;
        width: 60%;
    }
}