@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Roboto:wght@400;700&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    position: relative;
    overflow-x: hidden;
}

.app .new {
    border-bottom: none;
}

.product-page {
    margin: 0 5%;
}

.navigation {
    display: flex;
    gap: 1rem;
    padding: 1.3rem 0;
    border-top:  1px solid #00000039;
}

.navigation a {
    text-decoration: none;
    color: #00000083;
    display: flex;
    align-items: center;
    gap: 8px;
}