@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    position: relative;
    overflow-x: hidden;
}

.app .new {
    border-bottom: none;
}