.details {
    display: flex;
    padding: 1rem 0;
    gap: 2rem;
    flex-wrap: wrap;
}

.details p {
    opacity: 0.6;
}

.images {
    flex: 1;
    display: flex;
    gap: 1rem;
}

.images img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

.img-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.img-1 {
    flex: 3;
}

.img-1 img {
    height: 100%;
    width: 100%;
    border: 1px solid #0000002d;
}
.img-3 img {
    cursor: pointer;
}

.product-detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.colors {
    display: flex;
    gap: 1em;
    margin:  10px 0;
}

.color {
    border-radius: 50%;
    cursor: pointer;
}

.sizes {
    display: flex;
    gap: 1em;
    margin:  10px 0;
}

.size {
    background: #F0F0F0;
    padding: 12px;
    border-radius: 62px;
    cursor: pointer;
}

.product-detail .rate p {
    font-size: 18px;
}

.product-detail .price {
    font-size: 30px;
}

.container {
    padding-top: 1.2em;
    border-top: 1px solid #0000001a;
}

.selected {
    border: 2px solid rgb(120, 120, 120);
}

.selected-2 {
    background: #000;
}

.size:not(.selected-2) {
    color: rgba(0, 0, 0, 0.6);
}

.selected-2 span {
    color: #fff;
}

.last-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.quantity-changer {
    display: flex;
    background: #F0F0F0;
    padding: 12px 16px;
    border-radius: 62px;
    gap: 2em;
}

.btn-addcart {
    background: #000;
    color: #fff;
    border: none;
    border-radius: 62px;
    padding: 12px;
    flex: 2;
    cursor: pointer;
}

.btn-change {
    cursor: pointer;
}

.cart-popup {
    position: fixed;
    border-radius: 8px;
    background: #ffffff;
    color: #000000;
    display: flex;
    flex-direction: column;
    gap: 1em;
    bottom: 5%;
    right: 5%;
    box-shadow: 5px 4px 3px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    align-items: center;
    padding: 1em;
    border: 1px solid #0000002c;
}

.cart-popup img {
    width: 50px;
    height: 50px;
}

.cart-popup i {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
}

@media screen and (max-width: 1460px) {
    .images {
        flex-direction: column;
    }

    .img-3 {
        flex-direction: row;
    }

    .img-1 img{
        aspect-ratio: 2/1.5;
        object-fit: cover;
    }
}

@media screen and (max-width: 968px) {
    .details {
        flex-direction: column;
    }

    .img-1 img{
        aspect-ratio: 2/1.8;
        object-fit: cover;
    }

    .img-3 {
        order: 2;
    }
}

@media screen and (max-width: 568px) {
    .size {
        font-size: 12px;
    }
}